.container {
  display: flex;
  flex-direction: column;
  max-width: 140rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}

.novos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 3.7rem;
  background-color: var(--button-color);
  color: #fff;
  font-size: 1.8rem;
  margin: 4rem 1rem;
}

.containerItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24rem;
  height: auto;
  background-color: #fff;
  padding: 1rem;
}

.containerItem img {
  width: 22.7rem;
  height: 25.9rem;
}

.contentItem1 {
  display: flex;
  justify-content: center;
}

.contentItem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentItem2 p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--black1-color);
  margin: 1.5rem 0rem;
}

.contentItem2 span {
  font-size: 1.5rem;
  color: var(--black1-color);
  margin-bottom: .1rem;

}

.contentItem2 .oldPrice {
  font-size: 1.4rem;
  color: var(--greyPrice-color);
}