.container2 {
  display: flex;
  width: 100%;
  background-color: var(--black1-color);
  color: #fff;
}

.container3 {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-content: space-between;
  width: 100%;
}
