.container {
  display: flex;
  justify-content: center;
  /*background-color: aqua;
  color: red;*/
}

.container h3 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
}

.container p {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  width: 20rem;
}